*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    background-color: #a0d8ef;
    flex-direction: column;
}

.title{
    background-color: blue;
    height: 100px;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    color: white;
}

.slogan{
    background-color: blue;
    color: white;
    font-size: 16px;
    text-align: center;
    height: 30px;
}

nav {
    position: relative;
    background-color: #000;
    width: 100%;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 12px 20px;
    margin: 0;
}

nav li{
    flex: 0 0 auto;
}

nav a{
    text-decoration: none;
    color: #fff;
    padding: 8px 12px;
    display: block;
}